@model IEnumerable<CrudUsingADO.Models.Student>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Add Student</a>
</p>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>
        </tr>
}
    </tbody>
</table>
